{% extends "base_user.html" %}
{% load static %}
{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 col-lg-4">
            <div class="card shadow-sm">
                <div class="card-header text-center">
                    <h4>Enter your email to get reset link</h4>
                </div>

                <div class="card-body">

                    <form action="" method="POST">
                        {% csrf_token %}
                        {% include "partials/messages.html" %}
                      
                        <div class="form-group mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" name="email" id="email" class="form-control" placeholder='Enter your email' required>
                        </div>
                        <div class="email-feedback invalid-feedback" style="display:none">

                        </div>
                      
                        <div class="d-grid">
                            <input type="submit" value="Reset Password" class="btn btn-primary btn-block submit-btn">
                        </div>
                    </form>
                    <div>
                        <span>  
                            Have an  account ? 
                            <a href="{% url 'users:login' %}">Login</a>
                        </span>
                        
                        <span class="float-end">  
                            Don't have an  account ? 
                            <a href="{% url 'users:signup' %}">SignUp</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

{% endblock content %}
